.progress {
  box-sizing: border-box;
  height: 10px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 4px;
  margin-top: 5px;
  position: relative;

  &_exp{
    margin-top: 15px;
  }

  &__now {
    background-color: rgb(25, 118, 210);
    height: 100%;
    width: 0;
    transition-property: width;
    transition-duration: 500ms;
  }
  &__firstDeadline {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    &::after{
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: -5px;
      bottom: -5px;
      width: 3px;
      height: 18px;
      background-color: #fff;
      border: 1px solid #000;
      z-index: 2;
    }
  }
  &__firstDeadlineLabel{
    position: absolute;
    right: 0;
    top: -25px;
    transform: translateX(50%)
  }
  &__wrapper{
    padding-top: 20px;
    &:first-child{
      padding-top: 0;
    }
  }
}
